<h3
  style="color: #3498db; text-align: left; text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 2.7rem; margin-bottom: 1rem;">
  Gerenciamento de Estoque</h3>

<form class="form-inline">
  <!-- Tabela para exibir os itens -->
  <div class="background-logo3"></div>
  <div class="col-md-8 col-lg-8 bordered-table-container">
    <div class="form-group mx-sm-3 mb-2 d-flex justify-content-between">

      <div class="form-group col-md-5">
        <span class="p-float-label">
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required
            style="margin-left: -14px;">
          <label for="nome">Pesquisa por nome</label>
        </span>
      </div>

      <div class="d-flex align-items-center">
        <button type="button" (click)="aplicarFiltros()" class="btn btn-primary mb-2"
          style="margin-right: 20px;">Buscar</button>
        <button type="button" (click)="limparCampos()" class="btn btn-secondary mb-2">Limpar</button>
      </div>

    </div>
  </div>
  <div class="col-md-4 col-lg-8 bordered-table-container">

    <p-table [value]="items" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="pageSize"
      [totalRecords]="total" [lazy]="true" (onLazyLoad)="carregarPagina($event)" tableStyleClass="custom-table"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Estoque</th>
          <th scope="col">Adicionar</th>
          <th scope="col">Remover</th>
          <th scope="col">Valor a ser movimentado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td [pTooltip]="item.nome" tooltipPosition="top" class="truncate">{{item.nome}}</td>
          <td>{{item.quantidade}}</td>
          <td>
            <div class="button-container text-center">
              <button pButton pRipple type="button" icon="pi pi-plus"
                class="p-button-rounded p-button-text custom-button"
                (click)="handleQuantityChange(item, +quantity[item.id] || 1)">
              </button>
            </div>

          </td>
          <td>
            <div class="button-container text-center">
              <button pButton pRipple type="button" icon="pi pi-minus"
                class="p-button-rounded p-button-text custom-buttonMinus"
                (click)="handleQuantityChange(item, -(quantity[item.id] || 1))"></button>
            </div>
          </td>

          <td>
            <p-inputNumber class="form-control p-inputtext-no-border" id="valor" #nomeValidade="ngModel"
              [(ngModel)]="quantity[item.id]" name="valor" [ngClass]="{'form-control': true, 'p-inputtext-no-border': true, 'small-input-number': true}">
            </p-inputNumber>              
          </td>

        </tr>
      </ng-template>
    </p-table>


  </div>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-toast></p-toast>
</form>