<div class="card">
  <h1>Gerenciamento de Quantidade de Itens</h1>
  
  <!-- Tabela para exibir os itens -->
  <p-table [value]="items" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="pageSize" [totalRecords]="total">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome do Item</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.nome}}</td> <!-- Corrigido para 'nome' se a propriedade for 'nome' -->
        <td>{{item.quantidade}}</td> <!-- Corrigido para 'quantidade' se a propriedade for 'quantidade' -->
        <td>
          <div class="flex align-items-center">
            <!-- Botão para adicionar quantidade -->
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text" 
                    (click)="handleQuantityChange(item, 1)"></button>

            <!-- Input para quantidade a ser removida -->
            <p-inputNumber [(ngModel)]="removeQuantity[item.id]" [showButtons]="true" buttonLayout="horizontal" 
                           inputId="horizontal" spinnerMode="horizontal" [step]="1" 
                           decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" 
                           incrementButtonIcon="pi pi-minus" decrementButtonIcon="pi pi-minus" 
                           [min]="1" [max]="item.quantidade" class="mx-2"></p-inputNumber>
            
            <!-- Botão para remover quantidade -->
            <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-text p-button-danger" 
                    (click)="handleQuantityChange(item, -removeQuantity[item.id] || 0)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Confirm Dialog para confirmação de ações -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!-- Toast para mensagens de feedback -->
<p-toast></p-toast>
