input[type="input"]:focus {
	border-color: #4CAF50;
	box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
	outline: none;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f0f2f5;
	padding: 1rem;
}

.background-logo {
	position: absolute;
	top: 17%;
	left: 50%;
	width: 280px;
	height: 280px;
	background-image: url('src/assets/Uiracu.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.1;
	transform: translate(-50%, -50%);
}

.background-logo2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1920px;
	height: 1080px;
	background-image: url('src/assets/Uiracu.jpg');
	background-size: cover;
	background-position: center;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.background-logo3 {
	position: absolute;
	  top: 10%;
	  left: 40%;
	  width: 700px;
	  height: 700px;
	/* Ocupa toda a altura do container */
	background-image: url('src/assets/Uiracu.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.1;
	z-index: -1;
	/* Coloca a imagem atrás dos outros elementos */
  }

:host ::ng-deep .login-card {
	width: 100%;
	max-width: 400px;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	border-radius: 8px;
}

:host ::ng-deep .login-card .p-card-body {
	padding: 1rem;
}

:host ::ng-deep .p-float-label {
	display: block;
	position: relative;
}

:host ::ng-deep .p-inputtext {
	width: 100%;
	padding: 14px 16px;
	font-size: 17px;
	border-radius: 6px;
	border: 1px solid #dddfe2;
	color: #1c1e21;
}

:host ::ng-deep .p-float-label label {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: all 0.2s ease;
	color: #90949c;
	font-size: 17px;
}

:host ::ng-deep .p-float-label input:focus~label,
:host ::ng-deep .p-float-label input.p-filled~label {
	top: -10px;
	font-size: 13px;
	background-color: white;
	padding: 0 5px;
}

:host ::ng-deep .p-button {
	font-size: 20px;
	padding: 0.5rem;
	font-weight: bold;
}

:host ::ng-deep .p-button.p-button-success {
	background-color: #42b72a;
	border-color: #42b72a;
}

:host ::ng-deep .p-button.p-button-success:hover {
	background-color: #36a420;
	border-color: #36a420;
}

.p-error {
	color: #ff0000;
	font-size: 13px;
	margin-top: 5px;
}


.text-center {
	text-align: center;
  }
  
  .text-2xl {
	font-size: 1.5rem; /* ajuste de tamanho */
  }
  
  .font-bold {
	font-weight: bold;
  }
  
  .mb-4 {
	margin-bottom: 1rem;
  }
  
  .custom-style {
	color: #3498db; /* cor do texto */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* sombra */
	font-family: 'Arial', sans-serif; /* fonte personalizada */
  }
  