<p-toast position="top-right"></p-toast>
<div class="login-container">
  <div class="background-logo"></div>
  <p-card styleClass="login-card">
    <ng-template pTemplate="header">
      <h3 class="text-center text-2xl font-bold mb-4">Login</h3>
    </ng-template>
    <form>
      <div class="p-field mb-4">
        <span class="p-float-label">
          <input type="text" id="login" pInputText [(ngModel)]="Usuario.username" name="login" #user="ngModel"
            [ngClass]="{'ng-invalid ng-dirty': user.invalid && (user.dirty || user.touched)}">
          <label for="login">Usuario</label>
        </span>
      </div>

      <div class="p-field mb-4">
        <span class="p-float-label">
          <input type="password" id="senha" pInputText [(ngModel)]="Usuario.password" name="senha" #senha="ngModel"
            [ngClass]="{'ng-invalid ng-dirty': senha.invalid && (senha.dirty || senha.touched)}">
          <label for="senha">Senha</label>
        </span>
      </div>
      <button type="button" class="btn btn-primary" (click)="login()" style="margin-left: 10px;">Entrar</button>
    </form>
  </p-card>
</div>