<p-toast position="top-right"></p-toast>
<form class="form-inline" #formValidade="ngForm">
  <div class="background-logo3"></div>
  <h3
    style="color: #3498db; text-align: left; text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 2.7rem; margin-bottom: 1rem;">
    Cadastro Usuário</h3>

  <div class="col-md-8 col-lg-8 bordered-table-container">

    <div class="form-group d-flex flex-wrap align-items-center mb-2">
      
      <div class="form-group col-md-1">
        <span class="p-float-label">
        <input type="text" class="form-control" [(ngModel)]="usuario.id" id="id" disabled name="id" autocomplete="off">
          <label for="id">Id</label>
        </span>
      </div>

      <div class="form-group col-md-6">
        <span class="p-float-label">
          <input type="text" class="form-control" id="email" name="E-Mail" [(ngModel)]="usuario.email" required style="margin-left: 10px;" >
          <label for="email">E-Mail</label>
        </span>
      </div>
      
      
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-2">
      <div class="form-group col-md-4">
        <span class="p-float-label">
        <input type="text" class="form-control" id="nome" #nomeValidade="ngModel" [(ngModel)]="usuario.nome" name="nome"
          required autocomplete="off">
          <label for="Nome">Nome</label>
        </span>
      </div>

      <div class="form-group col-md-3">
        <span class="p-float-label">
        <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="usuario.cpf" required
          autocomplete="off" style="margin-left: 10px;">
          <label for="cpf">CPF</label>
        </span>
      </div>
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-2">
      <div class="form-group col-md-4">
        <span class="p-float-label">
        <input type="text" class="form-control" id="login" [(ngModel)]="usuario.login" #loginValidade="ngModel"
          name="login" required autocomplete="off">
          <label for="login">Login</label>
        </span>
      </div>

      <div class="form-group col-md-3">
        <span class="p-float-label">
        <input type="password" class="form-control" id="senha" [(ngModel)]="usuario.senha" #senhaValidade="ngModel"
          name="senha" required autocomplete="off" style="margin-left: 10px;">
          <label for="senha">Senha</label>
        </span>
      </div>
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-2">

    </div>
  </div>






  <div class="col-md-8 col-lg-8 bordered-table-container">
    <div class="card text-center">
      <div class="card-header">
        Telefone Contato
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6 d-flex">
            <span class="p-float-label">
              <input type="text" class="form-control mr-2" [(ngModel)]="numeroTelefone.numero" id="numero"
                name="numero">
              <label for="numero">Número</label>
            </span>
            <span class="p-float-label">
            <button class="btn btn-primary small-btn" style="margin-left: 5px;" (click)="addNumero()">Adicionar</button>
          </span>

          </div>


        </div>

        <p-table [value]="telefones" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
          responsiveLayout="scroll" tableStyleClass="custom-table">
          <ng-template pTemplate="header">
            <tr>
              <th>Número</th>
              <th class="actions-column">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-numbers>
            <tr>
              <td>{{numbers.numero}}</td>
              <td class="actions-column">
                <button class="btn btn-danger" (click)="deleteNumero(numbers.id)">Delete</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-lg-8 bordered-table-container">
    <div class="form-group mx-sm-3 mb-2 d-flex justify-content-between">
      <div></div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary" [routerLink]="['/user']"
          routerLinkActive="router-link-active">Voltar</button>
        <button type="button" class="btn btn-primary" (click)="novo()" style="margin-left: 10px;">Novo</button>
        <button type="button" class="btn btn-primary" [disabled]="formValidade.invalid" (click)="salvarUser()"
          style="margin-left: 10px;">Salvar</button>
      </div>
    </div>
  </div>
</form>