<h3
    style="color: #3498db; text-align: left; text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 2.7rem; margin-bottom: 1rem;">
    Caixa</h3>

<div class="p-grid">
    <div class="background-logo3"></div>

    <div class="p-col-12 p-md-6">
        <p-card>

        <div class="form-group d-flex flex-wrap align-items-center mb-2">

            <div class="form-group col-md-3">
              <span class="p-float-label">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" id="prod" name="prod"
                  autocomplete="off">
                <label for="prod">Buscar Produto</label>
              </span>
            </div>
          </div>

            <p-table [value]="produtos" [rows]="10" [paginator]="true" [globalFilterFields]="['nome']" [filterDelay]="0"
                [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm" [rowHover]="true">
                <ng-template pTemplate="header" tableStyleClass="custom-table">
                    <tr>
                        <th pSortableColumn="nome">Nome do Item <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon></th>
                        <th pSortableColumn="quantidade">Estoque <p-sortIcon field="quantidade"></p-sortIcon></th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-produto>
                    <tr>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.preco | currency:'BRL'}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td>
                            <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text"
                                (click)="addToCart(produto)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

    <div class="col-md-8 col-lg-8 bordered-table-container">
        <h3
            style="color: #3498db; text-align: left; text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 2.7rem; margin-bottom: 1rem;">
            Carrinho de Compras</h3>
        <p-card header="">
            <p-table [value]="cart" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Subtotal</th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>
                            <p-inputNumber [(ngModel)]="item.cartQuantity" [showButtons]="true"
                                buttonLayout="horizontal" spinnerMode="horizontal" [min]="1" [max]="item.quantidade"
                                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                                (onInput)="updateTotal()"></p-inputNumber>

                        </td>
                        <td>{{item.preco | currency:'BRL'}}</td>
                        <td>{{item.preco * item.cartQuantity | currency:'BRL'}}</td>
                        <td>
                            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"
                                (click)="removeFromCart(item)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total da Compra: {{total | currency:'BRL'}}
                    </div>
                </ng-template>
            </p-table>
            <div class="p-mt-3">
                <p-button label="Finalizar Venda" icon="pi pi-check" (click)="completeSale()"
                    [disabled]="cart.length === 0"></p-button>
            </div>
        </p-card>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>