:host ::ng-deep .p-card {
    margin-bottom: 1rem;
  }
  
  :host ::ng-deep .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 2px #bfdbfe;
    border-color: #3b82f6;
  }
  
  :host ::ng-deep .p-button {
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }
  
  :host ::ng-deep .p-float-label input:focus ~ label,
  :host ::ng-deep .p-float-label input.p-filled ~ label,
  :host ::ng-deep .p-float-label textarea:focus ~ label,
  :host ::ng-deep .p-float-label textarea.p-filled ~ label,
  :host ::ng-deep .p-float-label .p-inputwrapper-focus ~ label,
  :host ::ng-deep .p-float-label .p-inputwrapper-filled ~ label {
    top: -.75rem;
    font-size: 12px;
  }
  
  :host ::ng-deep .p-float-label label {
    margin-top: -.5rem;
  }

  .custom-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .small-input-number {
    width: 225px; /* Ajuste o valor para o tamanho desejado */
    max-width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajuste conforme necessário */
}
