<h3
    style="color: #3498db; text-align: left; text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 2.7rem; margin-bottom: 1rem;">
    Carrinho de Compras
</h3>
<div class="background-logo3"></div>
<div class="col-md-12 col-lg-12 bordered-table-container" style="display: flex; gap: 20px; flex-wrap: wrap;">
    <div class="card-content" style="flex: 1; min-width: 300px;">
        <p-card>
            <div class="bordered-table-container">
                <div class="form-group mx-sm-3 mb-2 d-flex justify-content-between">
                    <div class="form-group col-md-5">
                        <span class="p-float-label">
                            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required
                                style="margin-left: -14px;">
                            <label for="nome">Pesquisa por nome</label>
                        </span>
                    </div>
                    <div class="d-flex align-items-center">
                        <button type="button" (click)="aplicarFiltros()" class="btn btn-primary mb-2"
                            style="margin-right: 20px;">Buscar</button>
                        <button type="button" (click)="limparCampos()" class="btn btn-secondary mb-2">Limpar</button>
                    </div>
                </div>
            </div>
            <p-table [value]="produtos" (onLazyLoad)="carregarPagina()" [tableStyle]="{'min-width': '40rem'}"
                styleClass="custom-table" responsiveLayout="scroll" >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nome">Nome do produto</th>
                        <th pSortableColumn="preco">Preço</th>
                        <th pSortableColumn="quantidade">Estoque</th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-produto>
                    <tr>
                        <td [pTooltip]="produto.nome" tooltipPosition="top" class="truncate">{{produto.nome}}</td>
                        <td>{{produto.preco | currency:'BRL'}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td class="actions-column">
                            <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-text"
                                (click)="addToCart(produto)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>

    <div class="card-content" style="flex: 1; min-width: 300px;">
        <p-card>
            <br>
            <br>
            <br>
            <br>
            <p-table [value]="cart" [tableStyle]="{'min-width': '40rem'}" styleClass="p-datatable-sm" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Estoque</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Subtotal</th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td [pTooltip]="item.nome" tooltipPosition="top" class="truncate">{{item.nome}}</td>
                        <td>
                            <p-inputNumber [(ngModel)]="item.cartQuantity" [min]="1" [max]="item.quantidade"
                                [ngClass]="{'form-control': true, 'p-inputtext-no-border': true, 'small-input-number': true}"
                                (onInput)="updateTotal()" [style]="{'width': '100px'}">
                            </p-inputNumber>
                        </td>
                        <td>{{item.preco | currency:'BRL'}}</td>
                        <td>{{item.preco * item.cartQuantity | currency:'BRL'}}</td>
                        <td>
                            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"
                                (click)="removeFromCart(item)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total da Compra: {{total | currency:'BRL'}}
                    </div>
                </ng-template>
            </p-table>
            <div class="p-mt-3">
                <p-button label="Finalizar Venda" icon="pi pi-check" (click)="completeSale()"
                    [disabled]="cart.length === 0"></p-button>
            </div>
        </p-card>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>